{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="col-sm-8">
    <h1>{% trans "All registered systems on which experiments were performed" %}</h1>
    <hr>
    <table id="systems-table" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>{% trans "CPU" %}</th>
                <th>{% trans "GPU" %}</th>
                <th>{% trans "RAM" %}</th>
                <th>{% trans "Name (setted by user)" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for system in systems %}
            <tr data-cpu="{{ system.cpu }}" data-gpu="{{ system.gpu }}" data-ram="{{ system.ram }}">
                <td><a href="{% url 'systems:detail' system.id %}">{{ system.cpu_name }}</a></td>
                <td>{{ system.gpu_name }}</td>
                <td>{{ system.ram }}</td>
                <td>{{ system.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include "pagination.html" %}
{% endblock %}